html,
body {
  margin: 0;
  padding: 0;
  font-family:calibri;
}

.story {
  width: 800px;
  margin: auto;
  line-height: 0;
}

.dialogue {
  position: relative;
  margin-top: 4.5em;
  margin-bottom: 4em;
}

.icon {
  width: 9em;
  margin-top: -2.5em;
  padding: 0;
  display: block;
  border: 2px solid #B59D73;
  border-radius: 100px;
  position: absolute;
}

.label {
  position: absolute;
  margin-top: -0.3em;
}

.name {
  width: 9em;
  height: 1.5em;
  text-align: center;
  background-color: #0E0E0E;
  margin-top: 6em;
  color: white;
  z-index: 1;
  position: relative;
  border: 1px solid #B59D73;
  border-radius: 50px;
}

.name p {
  margin-top: 0.75em;
}

.shout {
  font-size: x-large;
}

.shout p { 
  line-height:0;
}

.whisper {
  font-size: small;
}

.txt {
  line-height: 1;
  height: 100px;
  background-color: #F0F0E7;
  border: 3px solid #B59D73;
  overflow: hidden;
  border-radius: 25px;
  overflow-wrap: break-word;
}

.txt p {
  padding: 1em 5%;
}

.plus {
  margin-top: 3%;
}

.right .label {
  right: 0;
}

.right .txt {
  margin-right: 8%;
  margin-left: 20%;
  text-align: right;
  padding-right: 8%;
}

.right .txt.plus {
  padding-right: 0;
  margin-right:0;
}

.left .txt {
  margin-left: 8%;
  margin-right: 20%;
  padding-left: 8%;
}

.left .txt.plus {
  padding-left:0;
  margin-left:0;
}

.double .txt {
  margin-right: 0;
  margin-left: 8%;
  padding-left: 20%;
}

.double .txt.plus {
  padding-left: 0;
  margin-right: 0;
}

.double .name {
  width: 9em;
}

.double .icon.second {
  right: 0;
}

.narration {
  background-color: #0E0E0E;
  margin: 5% 10%;
  border-radius: 25px;
  color: white;
  border: 3px solid #B59D73;
  text-align: center;
  line-height:normal;
}

.cg {
  width: 100%;
  border-radius: 25px;
  border: 3px solid #B59D73;
}

.skip {
  line-height:1;
  text-align: center;
  width: 100%;
  margin: 16% 0;
  color: #B59D73;
  border: 2px #B59D73;
  border-style: solid none;
  font-size: larger;
}

.caption {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #B59D73;
  border: 2px #B59D73;
  border-bottom-style: solid;
  font-weight: bold;
  font-size: large;
}

.dark {
  filter: brightness(50%);
}
